/*MAIN CONTAINERS */

* {
  font-family: fuente1;
}

body,
p {
  margin: 0 0 0 10px;
}

h3 {
  margin: 10px;
}

li,
ul {
  padding: 0px;
  margin: 0;
  list-style: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  height: 40px;
  min-width: 40px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-color: transparent;
  border-radius: 100px;
  font-weight: 600;
  color: #000000;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

button:hover {
  box-shadow: 0 0 0 12px transparent;
  background-color: #d4d4d4;
  border-radius: 12px;
}

button:active {
  scale: 0.95;
  box-shadow: 0 0 0 1px rgb(61, 61, 61);
}

input[type="text"],
textarea,
input[type="date"] {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0px 0px 0px 10px;
}

textarea {
  padding: 10px 0px 0px 10px;
  max-width: 90%;
  min-width: 90%;
  max-height: 100px;
}

h1 {
  text-align: center;
  font-size: 45px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
}

.contIzquierdo {
  width: 400px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contDerecho {
  min-width: 700px;
  max-width: 1000px;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(58, 58, 58);
}

/* CONTAINERS DE INFO */

.Info {
  background-color: rgb(255, 255, 255);
  width: 350px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(58, 58, 58);
  box-sizing: border-box;
  padding: 20px;
}

.Moreinfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 2s ease;
}

#titleslabel {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#titleslabel:hover {
  cursor: pointer;
}

.selectionbuttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0px 0px 0px;
}

.submitbutton {
  height: 40px;
  width: 60px;
}

.Base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skilltext {
  width: 75%;
}

.delbutton {
  border: 2px solid rgb(63, 63, 63);
}

.trashicon {
  height: 30px;
  width: 100%;
}

.listskill {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edwcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edwtitles {
  margin: 0px;
}

.licontainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#printbutton {
  height: 75px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: rgb(97, 97, 97);
  box-shadow: 0 0 4px 0 rgb(58, 58, 58);
}

#printbutton:hover {
  background-color: rgb(189, 189, 189);
  color: rgb(255, 255, 255);
}
/* Curriculum */

.Title {
  text-align: center;
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: 2px;
}

.mainCV {
  min-height: 1100px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 10px 75px 75px 75px;
  box-sizing: border-box;
  gap: 20px;
}

.General,
.Summary,
.Skills,
.Education,
.Work,
.CustomInfo {
  display: flex;
  flex-direction: column;
}

.Social {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.Socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.ItemsSkills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0px 0px 10px 0px;
  justify-content: center;
  align-items: center;
}

.LocationandDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SocialIcons {
  width: 25px;
  height: 25px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 1400px) {
  .contIzquierdo {
    width: 300px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .Social {
    gap: 9px;
  }

  .Socials {
    gap: 1px;
  }
  #printbutton {
    height: 75px;
    width: 250px;
  }

  .contDerecho {
    min-width: 600px;
    max-width: 800px;
  }

  .mainCV {
    width: 800px;
  }
  .Info {
    width: 250px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .contIzquierdo {
    width: 250px;
  }

  .Info {
    width: 230px;
  }

  .Social {
    gap: 9px;
  }

  .Socials {
    gap: 1px;
  }
  #printbutton {
    height: 75px;
    width: 200px;
  }

  .contDerecho {
    min-width: 600px;
    max-width: 800px;
  }

  .mainCV {
    width: 650px;
  }
}
